<?xml version="1.0"?>
<ruleset name="AskQuote">
	<description>PHPCS config for AskQuote for WooCommerce</description>
	<arg name="basepath" value="."/>
	<arg name="extensions" value="php"/>
	<arg name="parallel" value="8"/>
	<arg name="colors"/>
	<arg value="sp"/>

	<file>.</file>

	<exclude-pattern>*/vendor/*</exclude-pattern>
	<exclude-pattern>*/node_modules/*</exclude-pattern>
	<exclude-pattern>*/tests/*</exclude-pattern>

	<rule ref="WordPress-Extra"/>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array" value="askquote-for-woocommerce"/>
		</properties>
	</rule>

	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<property name="prefixes" type="array" value="askquote,ASKQUOTE,Askquote"/>
		</properties>
	</rule>

	<config name="minimum_supported_wp_version" value="6.2"/>
	<config name="testVersion" value="7.4-8.3"/>
</ruleset>
